# To-Do:
# Readme
#   - work in progress
# controllers - thought + user
#   - userController
#       - Good
#   - thoughtController
#       - Good
# utils
#   - 
# api routes
#   - Done
# models - index + etc.
#   - Done