# To-Do:
# Readme
#   - work in progress
# controllers - thought + user
#   - userController - how to pull user from multiple friends lists?
# utils
#   - 
# api routes
#   - Done
# models - index + etc.
#   - Done