# To-Do:
# Readme
#   - work in progress
# controllers - thought + user
#   - userController
#       - Good
#   - thoughtController
#       - Good: getAll, create, getSingle, update, 
#       - Not Yet: delete, addReact, deleteReact
# utils
#   - 
# api routes
#   - Done
# models - index + etc.
#   - Done